In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter30k_cleaned.csv')

In [5]:
df.head()

                                              twitts  sentiment
0          robbiebronniman sounds like a great night          1
1  damn the person who stolde my wallet may karma...          1
2               greetings from the piano bench photo          1
3  drewryanscott i love it i love you haha forget...          1
4  kissthestars pretty pretty pretty please pakid...          0

**TFIDF Vector** Convert Text data to numerical data to apply ML

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [15]:
X=df['twitts']
tfidf = TfidfVectorizer(max_features=10000,ngram_range=(1,2))
X=tfidf.fit_transform(X)
y=df['sentiment']

In [14]:
X.shape

(30000, 10000)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [17]:
X_train.shape,X_test.shape

((24000, 10000), (6000, 10000))

In [18]:
clf = LinearSVC()
clf.fit(X_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [19]:
y_pred = clf.predict(X_test)

In [20]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.73      0.74      3054
           1       0.73      0.76      0.74      2946

    accuracy                           0.74      6000
   macro avg       0.74      0.74      0.74      6000
weighted avg       0.74      0.74      0.74      6000

In [21]:
x = 'Congratulations,you have done it'
vec = tfidf.transform([x])

In [22]:
clf.predict(vec)

array([1])

In [25]:
x = 'sad,he died'
vec = tfidf.transform([x])

In [26]:
clf.predict(vec)

array([0])

In [23]:
import pickle

In [24]:
pickle.dump(clf,open('model','wb'))